@charset "utf-8";

body {
    min-width: 320px;
    margin: 15px;
}

#app {
    max-width: 100%;
}

.header {
	position:relative;
    display: flex;
    height: 40px;
    position: relative;
    background-color: #F26964;
    z-index:9999;
}

.nav-header {
	position:absolute;
	right:5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;

}

.nav-header button {
    width: 100%;
    height: 100%;
    cursor:pointer;
    border-radius:5px;
}

.active{
	display:none;
}

.nav{
	display:flex;
	 justify-content: flex-end;
}

.icon-bar:nth-child(1){
	display:block;
	position:absolute;
	top: 7px;
	height: 2px;
	width: 18px;
	background-color: black;
}

.icon-bar:nth-child(2){
	display:block;
	height: 2px;
	width: 18px;
	background-color: black;
}

.icon-bar:nth-child(3){
	display:block;
	position:absolute;
	bottom: 7px;
	height: 2px;
	width: 18px;
	background-color: black;
}

#gnavi{
	display:none;
	position:absolute;
	top: 40px;
	left:0px;
	z-index:9999;
    width: 100%;
}



ul{
	margin:0;
	padding:0;
	list-style:none;
}

.dropdown{
 width: 100%;
 height:auto;
 text-align:left;
}

.dropdown li{
	display:flex;
	width: 100%;
	height: 40px;
    background-color: #F26964;
    align-items:center;
  	justify-content: flex-start;
  	padding-left:10px;
  	padding-top:10px;
    box-sizing:border-box;


}

.dropdown li:hover{
background-color:#e2635f;

}


.dropdown li a{
	width: 100%;
	height: 100%;
	text-decoration:none;
	color:white;
}

.main {
    height: auto
}

.main_content {
    margin: 0 auto;
    height: 100%;
}

.main_date {
    width: 160px;
    height: 60px;
    margin-top: 10px;
}

#date {
    width: 100%;
    height: 100%;
    color: gray;
    margin-top: 10px;
}

.main_list {
    margin-top: 15px;
    width: 200px;
    height: 25px;
}

select {
	max-width: 200px;
    height: 100%;
}


.main_items {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;

}

#tab{
	display:none;
	width: 300px;
}

@media screen and (min-width:601px) {
   #select,.nav,.main_items,
    .header_menu {
        display: none;
    }
    #tab{
        display:block;
    }
}


.items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin: 10px 5px 0;
    border-radius: 1000px;
    background-color: coral;
    text-align: center;
    cursor: pointer;
}


button {
    border: none;
}

.items:empty {
    visibility: hidden;
}

@media screen and (max-width:370px) {
    .items {
        width: 85px;
        height: 50px;
        margin: 5px 2px 0;
    }
}


.main_table {
    display: block;
    width:100%;
    height: auto;
    margin-top: 10px;
    box-shadow: 1px 2px 2px;
   	overflow-x: scroll;
    overflow-y: hidden;

}


table {
    min-width:670px;
    height: auto;
}

.table{
	margin-bottom: 0;
}


table thead th{
	text-align: center;
}

.footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30px;
}

footer {
    background-color: chocolate;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}
